doctype html
html
	head
		title Account
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/github-markdown.css")
		link(rel="stylesheet" href="css/main.css")
		script(src="js/vanilla.js")
	body
		include /include/header.pug
		.border_form
			div(style="text-align:center;font-size:24px;font-weight:bold;margin-bottom:40px") Personal details
			form(action="/account/update" method="post" enctype="multipart/form-data")
				table.form_table
					tr
						td Full Name
						td
							input(type="text" name="full_name" value=full_name)
					tr
						td Email
						td
							input(type="email" name="email" value=email)
					tr
						td Phone
						td
							input(type="phone" name="phone" value=phone)
					tr
						td SSH Keys
						td 
							if ssh_pubs
								each ssh_pub in ssh_pubs
									span #{ssh_pub.name}
									span.tag #{ssh_pub.date}
							else
								span No SSH keys present
					tr
						td 
							| SSH PubKey
						td
							input(type="text" name="ssh_pub_name" placeholder="SSH Key Name")
							br
							input(type="file" name="ssh_pub")
				section(style="display:flex;justify-content:space-around")
					input(type="submit" value="Update", style="margin-top:30px;")
		script.
			document.getElementById('account_link').classList.add('selected')