doctype html
html
	head
		title Admin
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/github-markdown.css")
		link(rel="stylesheet" href="css/main.css")
		script(src="js/vanilla.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js")
	body
		include /include/header.pug
		table.info_table(cellspacing=0)
			tr
				th Name
				th Username
				th Email
				th Phone
				th Type
				th
			//tr
				td Chillar App
				td 192.168.0.100
				td 8080
				td 3/12
				td 11-12-2018
			each user in users
				tr
					td #{user.full_name}
					td #{user.username}
					td #{user.email}
					td #{user.phone}
					td #{user.type}
					td.delete_btn(username=user.username action="delete_user") delete
		.admin_control
			button#create_ticket.popup_link.btn.btn-primary Create Ticket
			button#create_project.popup_link.btn.btn-primary Create Project
			button#create_user.popup_link.btn.btn-primary Create User
		.popup_bg
			.popup_parent
				.loader
				#tickets.popup_child
					.ph_container.ticket
						.ph_name Create Ticket
					form(name="ticket_form" id="ticket_form")
						.flash_msgs
						table.ph_config
							tr
								th Name
								td
									input(type="text" name="name")
							tr
								th Project
								td.all_projects
									input(type="radio" name="project")
									|  Merchant Application
									br
									input(type="radio" name="project")
									|  Consumer Application
							tr#parent_ticket_query
								th Parent Ticket
								td
									input(type="radio" name="parent_ticket_query" value="1")
									|  Yes
									br
									input(type="radio" name="parent_ticket_query" value="0")
									|  No
							tr.parent_ticket_neg
								th Ticket ID
								td
									input(type="text" name="ticket_id")
							tr.parent_ticket_neg
								th Parent Ticket
								td.all_parent_tickets
							tr.parent_ticket_neg
								th Piority
								td
									select(name="priority")
										option(value=0) Hours (Red)
										option(value=1) Days (Orange)
										option(value=2) Weeks (Yellow)
										option(value=3) Months (Green)
										option(value=4) Casual (Blue)
							tr.parent_ticket_neg
								th Hanlder(s)
								td.all_users(name="ticket")
									//input(type="checkbox" name="ticket_handlers")
									//|  Ahmed Noor
									//br
									//input(type="checkbox" name="ticket_handlers")
									//|  Abin P
									//br
									//input(type="checkbox" name="ticket_handlers")
									//|  Mortaza
						.ph_desc
							h2 Description
							.md_render_container
								.md_render_control
									a#md_text_1.md_event Text
									a#md_render_1.md_event Rendered
								.md_render_box
									#md_text_box_1
										textarea(name="desc")
									#md_render_box_1
										h3 Rendered
						.ph_desc(style="display:flex;justify-content:space-around")
							input.btn.btn-primary#createTicketBtn(type="button" value="Create")
				#projects.popup_child
					.ph_container.ticket
						.ph_name Create Project
					form(name="project_form" id="project_form")
						.flash_msgs
						table.ph_config
							tr
								th Name
								td
									input(type="text" name="name")
							tr
								th Repo Name
								td
									input(type="text" name="repo_name")
							tr
								th Repo Type
								td
									input(type="radio" name="repo_type" value="empty") 
									|  Empty
									br
									input(type="radio" name="repo_type" value="node") 
									|  NodeJs
									br
									input(type="radio" name="repo_type" value="react_native") 
									|  React Native
							tr
								th Group
								td.all_users(name="project")
									//input(type="checkbox" name="project_group")
									//|  Ahmed Noor
									//br
									//input(type="checkbox" name="project_group")
									//|  Abin P
									//br
									//input(type="checkbox" name="project_group")
									//|  Mortaza
						.ph_desc
							h2 Description
							.md_render_container
								.md_render_control
									a#md_text_2.md_event Text
									a#md_render_2.md_event Rendered
								.md_render_box
									#md_text_box_2
										textarea(name="desc")
									#md_render_box_2
										h3 Rendered
						.ph_desc(style="display:flex;justify-content:space-around")
							input.btn.btn-primary#createProjectBtn(type="button" value="Create")
				#users.popup_child
					.ph_container.ticket
						.ph_name Create User
					form(name="user_form" id="user_form")
						.flash_msgs
						table.ph_config
							tr
								th Username
								td 
									input(type="text" name="username")
							tr
								th Full Name
								td 
									input(type="text" name="full_name")
							tr
								th Email
								td 
									input(type="email" name="email")
							tr
								th Type
								td
									select(name="user_type")
										option(selected) user
										option superuser
						.ph_desc
							input.btn.btn-primary#createUserBtn(type="button" value="Create")
		script(src="js/popup.js")
		script(src="js/markdown.js")
		script(src="js/views/admin.js")