doctype html
html
	head
		title Projects
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/github-markdown.css")
		link(rel="stylesheet" href="css/main.css")
		script(src="js/vanilla.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js")
	body
		include /include/header.pug
		table.info_table(cellspacing=0)
			//tr
				th Name
				th IP Address
				th Port
				th Ticket Ratio
				th Created On
			//tr.popup_link
				td Chillar App
				td 192.168.0.100
				td 8080
				td 3/12
				td 11-12-2018
			//tr.popup_link
				td Chillar Merchant App
				td 192.168.0.102
				td 8080
				td 1/5
				td 11-12-2018
			tr
				th Name
				th Repo Name
				th IP Address
				th Port
				th Created On
			each proj in projects
				tr.popup_link(project_id=proj.id)
					if proj
						td #{proj.name}
						td #{proj.repo_name}
						td #{proj.ip_addr}
						td #{proj.port}
						td #{proj.birthday.toLocaleDateString()}
		.popup_bg
			.popup_parent
				.loader
				.popup_child
					.ph_container.project
						.ph_name#proj_name Chillar Merchant App
					//.ph_control 
						a(href="#") Start
						a(href="#") Restart
					table.ph_config
						//tr
							th Status
							td
								.inactive
						tr
							th IP Address
							td#proj_ip 192.168.0.101
						tr
							th Port
							td#proj_port 8080
					if super_user
						.ph_desc
							h2 Description
							.md_render_container
								.md_render_control
									//a#md_text.md_event Text
									//a#md_render.md_event Rendered
									a.md_event(md-element="1" md-type="text" href="#") Text
									a.md_event(md-element="1" md-type="render" href="#") Render
								.md_render_box
									.md_block(md-element="1" md-type="text")
										textarea(name="desc")
									.md_block.ph_desc_container(md-element="1" md-type="render")
									//#md_text_box
										textarea
									//#md_render_box
						.ph_desc(style="display:flex;justify-content:space-around")
							input.btn.btn-primary#update(type="button" value="Update")
					else
						.ph_desc
							h2 Description
							#proj_desc.ph_desc_container
								include md.html
					.ph_desc
						h2 Documentation
						#project_docs
						//h3 Navigation Bar
						//.ph_desc_container
							//include md2.html
		script(src="js/popup.js")
		script(src="js/markdown.js")
		script(src="js/views/projects.js")
			