doctype html
html
	head
		title Projects
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/github-markdown.css")
		link(rel="stylesheet" href="css/main.css")
		script(src="js/vanilla.js")
	body
		include /include/header.pug
		table.info_table(cellspacing=0)
			//tr
				th Name
				th IP Address
				th Port
				th Ticket Ratio
				th Created On
			//tr.popup_link
				td Chillar App
				td 192.168.0.100
				td 8080
				td 3/12
				td 11-12-2018
			//tr.popup_link
				td Chillar Merchant App
				td 192.168.0.102
				td 8080
				td 1/5
				td 11-12-2018
			tr
				th Name
				th Repo Name
				th IP Address
				th Port
				th Created On
			each proj in projects
				tr.popup_link(project_id=proj.id)
					if proj
						td #{proj.name}
						td #{proj.repo_name}
						td #{proj.ip_addr}
						td #{proj.port}
						td #{proj.birthday.toLocaleDateString()}
		.popup_bg
			.popup_parent
				.popup_child
					.ph_container.project
						.ph_name Chillar Merchant App
					.ph_control 
						a(href="#") Start
						a(href="#") Restart
					table.ph_config
						tr
							th Status
							td
								.inactive
						tr
							th IP Address
							td 192.168.0.101
						tr
							th Port
							td 8080
						tr
							th QR Code
							td 
								image(src="qr_code.svg")
					.ph_desc
						h2 Description
						.ph_desc_container
							include md.html
					.ph_desc
						h2 Documentation
						h3 Navigation Bar
						.ph_desc_container
							include md2.html
		script(src="js/popup.js")
		script(src="js/views/projects.js")
			